In [1]:
import numpy as np
import pandas as pd
import re

First I went to https://esa.un.org/unpd/wpp/Download/Standard/Population/ and downloaded 'Total Population both Sexes'.  I opened it in LibraOffice and saved it both as an .ods and a .cvs file to see which would be easier reading into a DataFrame.  I exported the file from LibraOffice as an html file and used the Pandas read_html to read it.

In [2]:
worldPop = pd.read_html('worldpop19502015.html')

In [3]:
# data read from and html file is loaded into a list of dataframes since there can be 
worldPopdf = worldPop[0]
worldPopdf.head(5)

,0,1,2,3,4,5,6,7,8,9,...,61,62,63,64,65,66,67,68,69,70
0,Index,Variant,"Region, subregion, country or area *",Notes,Country code,1950,1951,1952,1953,1954,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,1,Estimates,WORLD,NaN,900,2 536 275,2 583 817,2 630 584,2 677 230,2 724 302,...,6 623 848,6 706 419,6 789 771,6 873 741,6 958 169,7 043 009,7 128 177,7 213 426,7 298 453,7 383 009
2,2,Estimates,More developed regions,a,901,814 865,824 213,834 074,844 264,854 632,...,1 215 325,1 220 392,1 225 552,1 230 534,1 235 143,1 239 298,1 243 055,1 246 520,1 249 864,1 253 207
3,3,Estimates,Less developed regions,b,902,1 721 410,1 759 604,1 796 510,1 832 967,1 869 671,...,5 408 523,5 486 027,5 564 219,5 643 207,5 723 027,5 803 711,5 885 122,5 966 906,6 048 590,6 129 802
4,4,Estimates,Least developed countries,c,941,195 259,199 052,202 905,206 885,211 045,...,772 489,790 978,809 731,828 953,848 792,869 298,890 423,912 094,934 192,956 631

In [4]:
# from the above dump we can see that the column names are part of the data.  First
# we need to extract those column names and reset the df to have those column names
new_columns = worldPopdf.iloc[0,:]
worldPopdf.columns = new_columns
worldPopdf.head(5)

,Index,Variant,"Region, subregion, country or area *",Notes,Country code,1950,1951,1952,1953,1954,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Index,Variant,"Region, subregion, country or area *",Notes,Country code,1950,1951,1952,1953,1954,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,1,Estimates,WORLD,NaN,900,2 536 275,2 583 817,2 630 584,2 677 230,2 724 302,...,6 623 848,6 706 419,6 789 771,6 873 741,6 958 169,7 043 009,7 128 177,7 213 426,7 298 453,7 383 009
2,2,Estimates,More developed regions,a,901,814 865,824 213,834 074,844 264,854 632,...,1 215 325,1 220 392,1 225 552,1 230 534,1 235 143,1 239 298,1 243 055,1 246 520,1 249 864,1 253 207
3,3,Estimates,Less developed regions,b,902,1 721 410,1 759 604,1 796 510,1 832 967,1 869 671,...,5 408 523,5 486 027,5 564 219,5 643 207,5 723 027,5 803 711,5 885 122,5 966 906,6 048 590,6 129 802
4,4,Estimates,Least developed countries,c,941,195 259,199 052,202 905,206 885,211 045,...,772 489,790 978,809 731,828 953,848 792,869 298,890 423,912 094,934 192,956 631

In [5]:
# now we need to get rid of the first row which has the column names
# we do this by copying the df starting with row 2
worldPopdf = worldPopdf.iloc[1:] 
worldPopdf.head(3)

,Index,Variant,"Region, subregion, country or area *",Notes,Country code,1950,1951,1952,1953,1954,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,1,Estimates,WORLD,NaN,900,2 536 275,2 583 817,2 630 584,2 677 230,2 724 302,...,6 623 848,6 706 419,6 789 771,6 873 741,6 958 169,7 043 009,7 128 177,7 213 426,7 298 453,7 383 009
2,2,Estimates,More developed regions,a,901,814 865,824 213,834 074,844 264,854 632,...,1 215 325,1 220 392,1 225 552,1 230 534,1 235 143,1 239 298,1 243 055,1 246 520,1 249 864,1 253 207
3,3,Estimates,Less developed regions,b,902,1 721 410,1 759 604,1 796 510,1 832 967,1 869 671,...,5 408 523,5 486 027,5 564 219,5 643 207,5 723 027,5 803 711,5 885 122,5 966 906,6 048 590,6 129 802

In [6]:
worldPopdf.drop('Variant', axis=1, inplace=True)

/home/marty/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [7]:
worldPopdf.drop('Notes', axis=1, inplace=True)

/home/marty/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
worldPopdf.drop('Index', axis=1, inplace=True)
worldPopdf.head(3)

/home/marty/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,"Region, subregion, country or area *",Country code,1950,1951,1952,1953,1954,1955,1956,1957,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,WORLD,900,2 536 275,2 583 817,2 630 584,2 677 230,2 724 302,2 772 243,2 821 383,2 871 952,...,6 623 848,6 706 419,6 789 771,6 873 741,6 958 169,7 043 009,7 128 177,7 213 426,7 298 453,7 383 009
2,More developed regions,901,814 865,824 213,834 074,844 264,854 632,865 069,875 507,885 914,...,1 215 325,1 220 392,1 225 552,1 230 534,1 235 143,1 239 298,1 243 055,1 246 520,1 249 864,1 253 207
3,Less developed regions,902,1 721 410,1 759 604,1 796 510,1 832 967,1 869 671,1 907 173,1 945 876,1 986 038,...,5 408 523,5 486 027,5 564 219,5 643 207,5 723 027,5 803 711,5 885 122,5 966 906,6 048 590,6 129 802

In [55]:
# pat1 will look for numbers up to 999 999 999 999.  So the first re finds the number with spaces
# in it and the second re removes the spaces.  Finally we return the number as a float.
pat1=r'(\d+\s+\d*\s?\d*\s?\d*)'
re1=re.compile(pat1)

In [60]:
# I wanted this to work over all the cells, even the Region... and Country code columns.
# The first if is for the Country code.  It should not match pat1 because it has no space
# (the pat1 has the \s+) and the the Region... column is alpha so it doesn't match.
# If it doesn't match then num == None and I just return x.
def pop_modifier(x):
    num = re1.search(x)
    if num == None:
        return x
    else:
        return float(re.sub('\s', '', num.group(), count=0, flags=0))

In [62]:
# ok now look at the numbers in the year columns.  Instead of having an int or a float the thousands of the
# number has spaces between them.  So the df treats them as separate.  We need to convert this into one
# floating point number.
wPop = worldPopdf.applymap(pop_modifier)

In [63]:
wPop.head(5)

,"Region, subregion, country or area *",Country code,1950,1951,1952,1953,1954,1955,1956,1957,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,WORLD,900,2.53628e+06,2.58382e+06,2.63058e+06,2.67723e+06,2.7243e+06,2.77224e+06,2.82138e+06,2.87195e+06,...,6.62385e+06,6.70642e+06,6.78977e+06,6.87374e+06,6.95817e+06,7.04301e+06,7.12818e+06,7.21343e+06,7.29845e+06,7.38301e+06
2,More developed regions,901,814865,824213,834074,844264,854632,865069,875507,885914,...,1.21532e+06,1.22039e+06,1.22555e+06,1.23053e+06,1.23514e+06,1.2393e+06,1.24306e+06,1.24652e+06,1.24986e+06,1.25321e+06
3,Less developed regions,902,1.72141e+06,1.7596e+06,1.79651e+06,1.83297e+06,1.86967e+06,1.90717e+06,1.94588e+06,1.98604e+06,...,5.40852e+06,5.48603e+06,5.56422e+06,5.64321e+06,5.72303e+06,5.80371e+06,5.88512e+06,5.96691e+06,6.04859e+06,6.1298e+06
4,Least developed countries,941,195259,199052,202905,206885,211045,215421,220033,224885,...,772489,790978,809731,828953,848792,869298,890423,912094,934192,956631
5,"Less developed regions, excluding least develo...",934,1.52615e+06,1.56055e+06,1.59360e+06,1.62608e+06,1.65863e+06,1.69175e+06,1.72584e+06,1.76115e+06,...,4.63603e+06,4.69505e+06,4.75449e+06,4.81425e+06,4.87424e+06,4.93441e+06,4.9947e+06,5.05481e+06,5.1144e+06,5.17317e+06

In [65]:
wPop.to_csv('clean_worldPop19502015.csv', line_terminator='\n', index=False, header=True)

That's it for this .ipynt.  I'll extract the specific years I want in another.