In [1]:
import numpy as np
import pandas as pd

In [3]:
# first get the clean_worldPop19502015.csv that was created by population_cleaner.ipynb
allpops = pd.read_csv('clean_worldPop19502015.csv')
allpops.head(5)

,"Region, subregion, country or area *",Country code,1950,1951,1952,1953,1954,1955,1956,1957,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,WORLD,900,2536275.0,2583817.0,2630584.0,2677230.0,2724302.0,2772243.0,2821383.0,2871952.0,...,6623848.0,6706419.0,6789771.0,6873741.0,6958169.0,7043009.0,7128177.0,7213426.0,7298453.0,7383009.0
1,More developed regions,901,814865.0,824213.0,834074.0,844264.0,854632.0,865069.0,875507.0,885914.0,...,1215325.0,1220392.0,1225552.0,1230534.0,1235143.0,1239298.0,1243055.0,1246520.0,1249864.0,1253207.0
2,Less developed regions,902,1721410.0,1759604.0,1796510.0,1832967.0,1869671.0,1907173.0,1945876.0,1986038.0,...,5408523.0,5486027.0,5564219.0,5643207.0,5723027.0,5803711.0,5885122.0,5966906.0,6048590.0,6129802.0
3,Least developed countries,941,195259.0,199052.0,202905.0,206885.0,211045.0,215421.0,220033.0,224885.0,...,772489.0,790978.0,809731.0,828953.0,848792.0,869298.0,890423.0,912094.0,934192.0,956631.0
4,"Less developed regions, excluding least develo...",934,1526151.0,1560552.0,1593605.0,1626082.0,1658626.0,1691752.0,1725843.0,1761153.0,...,4636034.0,4695048.0,4754488.0,4814254.0,4874235.0,4934413.0,4994699.0,5054812.0,5114397.0,5173171.0

In [4]:
allpops.columns

Index(['Region, subregion, country or area *', 'Country code', '1950', '1951',
       '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960',
       '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015'],
      dtype='object')

In [7]:
# now extract Region..., Country code and 1980 columns for the 1980 population file
pop1980 = allpops[['Region, subregion, country or area *','Country code','1980']]
pop1980.head(5)

                Region, subregion, country or area *  Country code       1980
0                                              WORLD           900  4458412.0
1                             More developed regions           901  1084244.0
2                             Less developed regions           902  3374167.0
3                          Least developed countries           941   393279.0
4  Less developed regions, excluding least develo...           934  2980888.0

In [10]:
pop1980.to_csv('pop1980.csv', line_terminator='\n', index=False, header=True)

In [11]:
# now extract Region..., Country code and 2010 columns for the 2010 population file
pop2010 = allpops[['Region, subregion, country or area *','Country code','2010']]
pop2010.head(5)

                Region, subregion, country or area *  Country code       2010
0                                              WORLD           900  6958169.0
1                             More developed regions           901  1235143.0
2                             Less developed regions           902  5723027.0
3                          Least developed countries           941   848792.0
4  Less developed regions, excluding least develo...           934  4874235.0

In [12]:
pop2010.to_csv('pop2010.csv', line_terminator='\n', index=False, header=True)